.row.comment
  %p{id: "comment-text-#{comment.id}"}
    = comment.text

    = form_for [comment.post, comment], html: { class: 'comment-edit-form', id: "comment-edit-form-#{comment.id}" } do |f|
      = f.text_field :text
      = f.submit 'Update', class: 'btn'

  %ul.comment_actions
    - can_update = can?(:update, comment)
    - can_destroy = can?(:destroy, comment)
    - if can_update
      %li
        = link_to 'Edit comment', '#', {class: 'show-comment-edit', id: "show-comment-edit-#{comment.id}"}
    - if can_update && can_destroy
      &nbsp;|&nbsp;
    - if can_destroy
      %li
        = link_to 'Delete comment', [comment.post, comment],
                     :confirm => 'Are you sure?',
                     :method => :delete
