.row
  .span6.offset3
    = form_for(model) do |f|
      -#= render partial: 'shared/error_messages', locals: { model: model }

      = f.label :header
      = f.text_field :header

      = f.label :text
      = f.text_area :text, size: '40x10'

      = f.submit "Submit", class: "btn btn-large btn-primary"