%h1 Posts
- @posts.each do |post|
  .post
    .post-header
      %h3= post.header
    .post-body= post.text
    %ul.post-actions
      %li= link_to 'Full content', post_path(post)
      - if can? :update, post
        %li= link_to 'Edit', edit_post_path(post)
      - if can? :destroy, post
        %li= link_to 'Delete', post_path(post), :method => :delete, :confirm => 'Are you sure?'



