%h1= @post.header
.hero-unit= @post.text

%ul.post-actions
  - if can? :update, @post
    %li= link_to 'Edit post', edit_post_path(@post)

  - if can? :destroy, @post
    %li= link_to 'Delete post', post_path(@post), :method => :delete, :confirm => 'Are you sure?'

%h3 Comments
= render @post.comments

- if !current_user.nil? && can?(:create, Comment)
  = render 'comments/form'

