.comment_form {
  margin-left: 0 !important;
}

ul.comment_actions {
  list-style: none;
  margin: 0;

  li {
    display: inline;
  }
}

.comment-edit-form {
  display: none;
}

.comment {
  margin-left: 0 !important;
  margin-bottom: 10px;
  background-color: #eee;
  border-radius: 5px;
  padding: 7px;
}