// Place all the styles related to the post controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

.post-actions {
  list-style: none;
  margin-left: 0;
  margin-bottom: 30px;
}

.post {
  border: 1px solid #ddd;
}

.post-header{
}

.post-body{
  margin: 10px;
}