%header.navbar.navbar-fixed-top.navbar-inverse
  .navbar-inner
    .container
      = link_to "Simple blog", root_path, id: "logo"
      %nav
        %ul.nav.pull-right
          %li= link_to "Home", root_path
          - if user_signed_in?
            %li= link_to "New post", new_post_path
            %li= link_to current_user.email, "#"
            %li= link_to "Sign out", destroy_user_session_path, method: "delete"
          - else
            %li= link_to "Sign in", new_user_session_path
            %li= link_to "Sign up", new_user_registration_path