!!!
%html
  %head
    %title Simple blog
    = stylesheet_link_tag "application", :media => "all"
    = javascript_include_tag "application"
    = csrf_meta_tags
    = render "layouts/shim"
  %body
    = render "layouts/header"
    .container
      - flash.each do |key, value|
        = content_tag(:div, value, class: "alert alert-#{key}")

      = yield

      = debug(params) if Rails.env.development?